<!DOCTYPE html>
<html>
<head>
	<title>
		Connect Us: We are in World Campus!
	</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
	<div class="ui container">
		<div class="ui menu fixed inverted page navbar grid">
			<div class="seven wide column" style="background-image: url('images/banner.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat" data-pin-nopin="true"></div>
			<div class="right menu nine wide column">
				{{!-- <a href="/people" class="item">People</a> --}}
				<a href="/map" class="item">Map</a>
				<a href="/graph" class="item">Connect</a>
				{{!-- <a href="" class="item"><i class="ui icon setting"></i>Setting</a> --}}
				{{!-- <i class="ui icon user"></i> --}}
				<a href="" class="item">{{this.name}}</a>
				<a href='/logout' class='ui red label item'>Logout</a>
				
				
			</div>
		</div>
		{{{body}}}

	</div>
</body>
</html>
