<script src="//d3js.org/d3.v3.min.js"></script>

<style type="text/css">
	
	.links line {
		stroke: #999;
		stroke-opacity: 0.6;
	}

	.nodes circle {
		stroke: #fff;
		stroke-width: 1.5px;
	}
</style>

<body>
	
	<div id="connect" class="ui container canvas draw fullwidth first-page-element">
		<div class="ui grid page">
			<div class="ui selection dropdown connectedby">
				We are connected by 
				<input type="hidden" name="language">
				<span class="text">Filter</span>
				<div class="menu">
					<div class="item" data-value="classes">Classes</div>
					<div class="item" data-value="majors">Majors</div>
					<div class="item" data-value="degree">Degree progress</div>
					<div class="item" data-value="prev_degree">Previous degree</div>
					<div class="item" data-value="goal">Goal</div>
					<div class="item" data-value="kids">Kids</div>
					<div class="item" data-value="ERL">Cohort</div>
					<div class="item" data-value="nationality">Country</div>
					<div class="item" data-value="EMP_status">Employment Status</div>
					<div class="item" data-value="workday">Available work day</div>
					<div class="item" data-value="age_range">Age range</div>
				</div>
			</div>
			<div class="input field">
				<div class="ui multiple search selection dropdown filtered">
					<input type="hidden" name="language">
					<span class="text">Filter by selecting a state from map view </span>
					<div class="menu">
					</div>
				</div>
			</div>
		</div>
		
		<div class="ui modal initiatemsg">
			<div class="ui text container aligned center middle padded">
				<h3 class="ui header">Compose the message for <strong class="receiver"></strong></h3>
				<div class="ui form">					
					<div class="field">
						<div class="field">
							<div class="ui inverted black label">She/he might be waiting for you to reach out to! Remember we are connected!</div>
						</div>

						<div class="field"><textarea type="text" class="feedback item" placeholder="Enter the message"></textarea>
						</div>
					</div>

					<button class="ui button teal sendmsg">Send</button>
					<button class="ui button teal cancelmsg">Cancel</button>
				</div>
			</div>
		</div>
		<div class="ui info message hidden">
			<i class="close icon"></i>
			<div class="header">
				Filtered too much!
			</div>
			<ul class="list">
				<li>Oops! You may select a state in which there are no Penn State students registered to this network.</li>
				<li>Cick <a href="/map" class="">here</a> to select other states.</li>
				<li>You can remove the filter condition above by deleting the tag.</li>
			</ul>
		</div>
		<div id="chart" class="canvas draw fullwidth">
			
		</div>
	</div>

	
	<script type="text/javascript" src="javascripts/graph.js"> </script>
</body>
