<div class="ui pushable first-page-element sidebar-context equal width grid">
  <div class="pusher">
    <div class="ten wide column">
      <div class="ui text container">
        <h1 class="ui header">Welcome to We Are Connected Community, {{this.name}}!</h1>
        <img alt="" class="ui fluid image" src="./images/alumnilobby.png">
      </div>
    </div>
  </div>
<div class="username hidden">{{this.username}}</div>
</div>
<div class='ui grid'>

  <div class="three wide column">

  </div>
  <div class="ten wide column">Copyright ©2015, CSCL Lab @ The Pennsylvania State University</div>
  <script type="text/javascript" src="javascripts/index.js"></script>
</div>